<!doctype html>
<html lang="en">

  <%-include('layouts/header');-%>

<!-- Bootstrap core CSS -->
<link href="/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>


<!-- Custom styles for this template -->
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">

<script src="js/signup.js"></script>
<link href="css/signup.css" rel="stylesheet">
<%-include('layouts/scripts');-%>

<body class="bg-light">
<%-include('layouts/navbar');-%>

  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>정보 수정</h2>
      </div>
      <div>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-6">
              <label for="birth" class="form-label">아이디 <span class="text-muted"></span></label>
              <input class="form-control" type="text" placeholder="아이디" aria-label="Disabled input example" disabled>
            </div>

            <div class="col-6">
              <label for="birth" class="form-label">학교 이메일 <span class="text-muted"></span></label>
              <input class="form-control" type="text" placeholder="학교 이메일" aria-label="Disabled input example" disabled>
            </div>
          </div>

          <div class="row g-3 mt-2">
            <div class="col-6">
              <label for="lastName" class="form-label">비밀번호 변경</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-6">
              <label for="lastName" class="form-label">비밀번호 변경 확인</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row g-3 mt-2">
            <div class="col-6">
              <label for="username" class="form-label">이름</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="username" placeholder="" required>
                <div class="invalid-feedback">
                  Your name is required.
                </div>
              </div>
            </div>

            <div class="col-6">
              <label for="birth" class="form-label">생년월일 <span class="text-muted"></span></label>
              <input class="form-control" type="text" placeholder="생년월일" aria-label="Disabled input example" disabled>
            </div>
          </div>

          <div class="row g-3 mt-2">
            <div class="col-6">
              <label for="address2" class="form-label">닉네임 <span class="text-muted"></span></label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>
            <div class="col-6">
              <label for="birth" class="form-label">성별 <span class="text-muted"></span></label>
              <input class="form-control" type="text" placeholder="성별" aria-label="Disabled input example" disabled>
            </div>
          </div>

          <div class="row g-3 mt-2">
            <div class="col-6">
              <label for="address2" class="form-label">휴대전화 <span class="text-muted"></span></label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>
            <div class="col-6">
              <label for="birth" class="form-label">한경대 학번 <span class="text-muted"></span></label>
              <input class="form-control" type="text" placeholder="한경대 학번" aria-label="Disabled input example" disabled>
            </div>
          </div>

          <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-secondary btn-lg mt-3" type="button">수정</button>
            <button class="btn btn-secondary btn-lg mt-2 mb-3" type="button">취소</button>
          </div>

        </form>
      </div>
  </div>
  </main>

  </div>



</body>

</html>